body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*GLOBAL STYLES*/
.Layout_container{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  flex-direction: column;
  background-color: #e6e6e6;
  overflow-y: hidden;
  
}

header, main, footer {
  width: 100%;
}

footer {
  background-color: #162235 !important;
  height: 50px;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer > p {
  padding: 0px;
  margin: 0px;
}

.container{
  width: 100%;
  min-height: 100vh;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  flex-direction: column;
  overflow: hidden;
}


.header_container{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 10px;
background-color: #162235;

}

::-webkit-scrollbar {
  display: none;
}

.nomada_logo{
  width: 45px;
  height: 45px;
  border-radius: 60px;
}


.header_container > h3, .header_container > h2 {
  color: white;
}

.header_container span {
  color: #00b2e3;
  
}


/*HOME PAGE*/
.drag_container{
  width: 80%;
  height: 30%;
  margin-bottom: 20px;
}

.drag_container span {
  font-size: 35px;
  color: #00b1e3;
}

.drag_container h2 {
  color: white;
}


.imageBlob,.ImageBlobDiv{
  width: 200px;
  height: 300px;
  border-radius: 100px;
  margin-bottom: 20px;
}


.ImageBlobDiv{
  background-color: rgb(248, 248, 248);
  background-image: url("./assets/anonimus3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  ;
}

.actorName, .success_actorName{
  color: #00b1e3;
  font-size: 45px;
}

.success_actorName{
  font-size: 40px;
}


/*TRAYECTORY*/

.main_container{
  display: flex;
  width: 100%;
  height: 100%;
}

.aside_actor{
  background-color: #162235;
  width: 20%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.aside_actor > div > h1 {
  font-size: 36px;
  color: white;
}

.aside_actor h3 {
  font-size: 26px;
}

.aside_actor img {
  width: 300px;
  height: 450px;
  border-radius: 5px;
}
.section_movies {
  height: 100%;
  width: 80%;  
  padding: 10px;

}


.section_movies_card_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}


/*UTILITIES*/
button {
  margin-bottom: 30px;
  border: 1px solid rgb(82, 81, 81);
  background-color: #1a1c1f;
  color: #00b1e3;
  width: 160px;
  border-radius: 15px;
  transition: all 300ms;
  cursor: pointer;
}

button:hover{
  width: 180px;
  font-weight: bold;
}

/*ANT DESING*/
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
background-color: #162235;
  
}

.ant-menu.ant-menu-dark span{
  color: #fbfdfd !important;
}

.ant-menu.ant-menu-dark span:hover{
  color: #00b1e3 !important;
}
.ant-menu.ant-menu-dark > li span:hover{
  background-color: #162235 !important;
}

.ant-menu-overflow-item , .ant-menu-item, .ant-menu-item-only-child{
  background-color: #162235;
}

.ant-menu-overflow-item , .ant-menu-item, .ant-menu-item-only-child:hover{
  background-color: #162235 !important;

}



